<!DOCTYPE html>
<html>

<head>
	<title>Book</title>
	<link rel="icon" href="images/library.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/main-style.css}">
	<link rel="stylesheet" th:href="@{/css/book.css}">
</head>

<body>
	<!-- HEADER importato -->
	<div th:insert="~{fragments/header :: header}"></div>

	<!-- SECTION -->
	<section>
		<div th:if="${author}">
			<h1 th:text="${author.name} + ' ' + ${author.surname}"></h1>
		<div th:unless="${author}">Non esiste</div>
	</section>

	<!-- FOOTER importato -->
	<div th:insert="~{fragments/footer :: footer}"></div>

</body>

</html>