<!DOCTYPE html>
<html>
<head>
    <title>Autori</title>
    <link rel="icon" th:href="@{/library.ico?v=1}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/main-style.css}">
    <link rel="stylesheet" th:href="@{/css/authors.css}">
</head>

<body>
    <!-- HEADER importato -->
    <div th:insert="~{fragments/header :: header}"></div>

    <!-- SECTION -->
    <section class="author-section">
        <h2 class="section-title">
            <i class="fa-solid fa-pen-nib"></i>
            I Nostri Autori
        </h2>
        <div class="author-container">
            <div th:if="${authors.isEmpty()}" class="no-authors">Non ci sono autori nel sistema</div>
            <ul class="author-list">
                <li th:each="author : ${authors}">
                    <div class="author-card">
                        <a th:href="@{'/author/' + ${author.id}}" class="author-link">
                            <img th:if="${author.photo}" th:src="@{'/images/' + ${author.photo.id}}" 
                                alt="Immagine autore" class="author-photo"/>
                            <div class="author-details">
                                <div class="author-name">
                                    <div class="author-surname" th:text="${author.surname}"></div>
                                    <div class="author-firstname" th:text="${author.name}"></div>
                                </div>
                                <div class="author-dates">
                                    <span th:text="${#dates.format(author.dateOfBirth, 'dd/MM/yyyy')}"></span>
                                    -
                                    <span th:text="${author.dateOfDeath != null} ? 
                                        ${#dates.format(author.dateOfDeath, 'dd/MM/yyyy')} : 
                                        'in vita'"></span>
                                </div>
                            </div>
                        </a>
                        <!-- Controlli admin -->
                        <div sec:authorize="hasAuthority('ADMIN')" class="admin-controls">
                            <a th:href="@{'/admin/author/update/' + ${author.id}}" class="edit-btn">
                                <i class="fa-solid fa-pencil"></i> Modifica
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- FOOTER importato -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>