/* main-style.css */

/* HEADER - marrone cuoio */
.navbar {
	background-color: #6B4226; 	/* Colore di sfondo marrone cuoio */
    color: white; 				/* Colore del testo bianco */
    padding: 1em; 					/* Spaziatura interna */
    height: 75px; 					/* Altezza fissa del header */
	align-items: center;
}

/* PULSANTI HEADER */
.navbar, a{
	color: #F5F5F5;
	font-size: 1.5em; 				/* Imposta la dimensione del testo */
	text-decoration: none; 			/* Rimuove la sottolineatura */
	line-height: 75px; 				/* Stessa altezza del contenitore */
}

/* SECTION - beige carta */
section {
    background-color: #E4DCCB;
    color: #2C2C2C;
    padding: 2em;
    min-height: 400px;
}

/* FOOTER - marrone molto scuro */
footer {
    background-color: #2E1F13;
    color: white;
    text-align: center;
    padding: 1em;
}
