/* main-style.css */

/* HEADER - marrone cuoio */
.headerNavbar {
	background-color: #6B4226; 	/* Colore di sfondo marrone cuoio */
    color: white; 				/* Colore del testo bianco */
    padding: 1em; 					/* Spaziatura interna */
    height: 5vh; 					/* Altezza fissa del header */
	align-items: center;
	margin: 10px;
}

/* PULSANTI HEADER */
.headerNavbar, a{
	color: #F5F5F5;
	font-size: 1.4em; 				/* Imposta la dimensione del testo */
	text-decoration: none; 			/* Rimuove la sottolineatura */
	line-height: 5vh; 				/* Stessa altezza del contenitore */
}

/* SECTION - beige carta */
section {
    background-color: #E4DCCB;
    color: #2C2C2C;
    padding: 2em;
    min-height: 100vh;
	margin: 10px;
}

/* FOOTER - marrone molto scuro */
.footer {
    background-color: #2E1F13;
    color: white;
    text-align: center;
	height: 7vh;
    padding: 1em;
	margin: 10px;
}
