<!DOCTYPE html>
<html>
<body>
<header th:fragment="header" class="headerNavbar">
		
	<ul class="menu">
		<li><a class="navigationButton" th:href="@{'/'}">Home</a></li>
		<li><a class="navigationButton" th:href="@{'/bestSeller'}">Best Seller</a></li>
		<li><a class="navigationButton" th:href="@{'/search'}">Ricerca</a></li>
		<li class="dropdown">
			<a class="navigationButton" id="menu" th:href="@{'/personalArea'}">Area Personale</a>
			<ul class="dropdown-menu">
				<li sec:authorize="isAnonymous()"><a th:href="@{'/login'}">Login</a></li>
				<li sec:authorize="isAnonymous()"><a th:href="@{'/register'}">Register</a></li>
				<li sec:authorize="hasAnyAuthority('ADMIN','REGISTERED')" ><a th:href="@{'/logout'}">Logout</a></li>
			</ul>
		</li>
	</ul>
	
</header>
</body>
</html>